@model WebAppStudent.Models.Student

@{
    ViewData["Title"] = "Student Details";
}

<h2>Detail Siswa</h2>
<div>
    <h4>@ViewBag.Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nama
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            Usia
        </dt>
        <dd class="col-sm-10">
            @Model.Age
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Create">Kembali ke Form</a>
</p>